/*
*******************************************************************************
 * File:		policies.css
 * Purpose: stylesheet for policy notifications etc.
 *
 * Author:	Mark Fletcher
 * Date:		19.11.2020
 *
 * Notes:
 *
 * Revision:
 *		19.11.2020		1st issue.
 *
*******************************************************************************
*/
/* colour pallette */
$color1: #000; /* #000 - black */

/* font sizes */
$font1: 7px; /* font1 - 7px */
$font2: 14px; /* font2 - 14px */

/* policy page styling ******************/
#policy {
  padding: 0px 20px 20px 20px;
  text-align: left;
  font-size: $font2;
}

#policy > h2, #policy > h3, #policy > h4,
#sitemap > h2, #sitemap > h3, #sitemap > h4,
#policy > ul > li:before, #sitemap > ul > li:before,
.highlight {
  color: $color1;
}

#policy > ul, #sitemap > ul {
  list-style: none;
  list-style-position: outside;
}

#policy > ul > li:before, #sitemap > ul > li:before {
  content: '\25A0';
  /* a square bullet */
  display: block;
  position: relative;
  max-width: 0px;
  max-height: 0px;
  left: -10px;
  top: 2px;
  font-size: $font1;
}

#privacy {
  float: right;
}
